/* Media Queries */
@mixin breakpoint($breakpoint){
    @media screen and (min-width $breakpoint){
        @content;
    }
}

/* CSS Reset of ALL elements*/
* {
    margin 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tags */
body {
    font-family: montserrat, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;

    &:after {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-color: rgba(34,34,34,0.5);
    }

    .content{
        position: relative;
        z-index: 1;

        h1{
            color: #FFF;
        }
    }
}